.App {
  font-family: sans-serif;
  text-align: center;
}

.nav-bar {

  display: flex;
 flex-direction: column;
}

.nav-link {
  text-decoration: none;
  color: royalblue;
}

.form {
  display: flex;
  flex-direction: column;
align-items: center;
}

.field {

  margin-bottom: 1%;
}


.error {
  color: red;
}

.button {
  margin-top: 2%;
  width: 100px;
}


.items {
  margin-top: 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}



.items-list:hover {

    background-size: 310px 210px ;
    font-size: 1.1rem;
}

.link {

  text-decoration: none;
  color: cornflowerblue;
  
    margin: 3%;
  
}

.image {

  width: 400px;
  height: 300px;
}

.image-card {

  width: 290px;
  height: auto;
}

.card {

    
}