.App {
  font-family: sans-serif;
  text-align: center;
}

.nav-bar {

  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.nav-link {
  text-decoration: none;
  color: royalblue;
  margin: 2% 2% 2% 2%;
}

h1 {

  text-align: center;
  color: #0189FF;
  margin-top: 2%;
}


.form {
  display: flex;
  flex-direction: column;
align-items: center;
}

.field {

  margin-bottom: 1%;
}


.error {
  color: red;
}

.button {
  margin-top: 2%;
  width: 100px;
  
}


.items {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.item-wrapper {

    text-align: center;
}

.link {

  text-decoration: none;
  color: cornflowerblue;
  
    margin: 3%;
  
}

.image {

  width: 400px;
  height: 300px;
}

.image-card {

  width: auto;
  height: auto;
}

#log-out {

    margin-top: 2%;
    margin-left: 47.3%;
}

h2 {
  color: #0189FF;
}

.catalog {

  border-top: 1px solid lightgray;
}


.search-bar {

  text-align: center;
}

.description {

  text-align: justify;
  width: 50%;
  margin-left: 25%;
}