.App {
  font-family: sans-serif;
  text-align: center;
}

.nav-link {
  text-decoration: none;
  margin-left: 2%;
  margin-right: 2%;
  color: royalblue;
}

.form {
  margin-top: 15%;
  display: flex;
  flex-direction: column;
}

.field {
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 1% 1% 0% 1%;
}

.error {
  color: red;
}

.button {
  background: green;
  margin-top: 2%;
}
